* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    /* grid-template-columns: 1fr ; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    gap: 10px;
}

.box {
    width: 100%;
    height: 100%;
    background-color: blue;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1 {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
}
.item-2 {
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 4;
}
.item-3 {
    background-color: purple;
    grid-column-start: 1;
    grid-column-end: 4;
}
.item-4 {
    background-color: fuchsia;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-5 {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 4;
}
.item-6 {
    background-color: lightyellow;
    grid-column-start: 1;
    grid-column-end: 4;
}

