*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.5fr 3fr 1fr;
    gap: 10px;
    height: 100vh;
}

.item{
    width: 100%;
    height: 100%;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    background-color: brown;
}

.box-2{
    background-color: blueviolet;
}

.box-3{
    background-color: yellow;
}